.DS_Store
ESP8266/.DS_Store
ESP8266/ESP-uclock/.DS_Store
ESP8266/ESP-uclock/build/.DS_Store
ESP8266/ESP-uclock/build/esp8266.esp8266.generic/ESP-uclock.ino.bin
ESP8266/ESP-uclock/build/esp8266.esp8266.generic/ESP-uclock.ino.elf
ESP8266/ESP-uclock/build/esp8266.esp8266.generic/ESP-uclock.ino.map
ESP8266/ESP-uclock/data/.DS_Store
